.contact {
    background: var(--col1);
    width: 100vw;
    height: 100vh;
    min-height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 36rem;
    max-width: 112rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
}

.leftSide {
    width: 50%;
    width: calc(21rem + 12vw);
    color: var(--light);
}

.leftSide h2 {
    font-size: calc(2.8rem + 2.8vw);
    margin-bottom: 2rem;
}

.form {
    font-size: calc(0.8rem + 0.8vw);
}

.formField {
    /* background: green; */
    position: relative;
    height: calc(2rem + 1vw);
    margin-bottom: 2.4rem;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid var(--light);
}
.textareaFormField {
    height: calc(6rem + 1vw);
}

.input,
.textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    background: none;
    border: none;
    resize: none;
}
.input:focus,
.textarea:focus {
    outline: none;
}
.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(focus) ~ .label {
    top: -1.8rem;
    opacity: 0.8;
    font-size: calc(0.8rem + 0.2vw);
}
.textarea:focus ~ .label,
.textarea:not(:placeholder-shown).textarea:not(focus) ~ .label {
    top: -1.8rem;
    opacity: 0.8;
    font-size: calc(0.8rem + 0.2vw);
}

.label {
    position: absolute;
    top: 24%;
    left: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
.textareaLabel {
    top: 62%;
}

.dropDowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.dropDownBox {
    padding: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.dropDownBox label {
    margin-bottom: 1rem;
}

.select {
    background: transparent;
    border: none;
    font-size: calc(0.8rem + 0.2vw);
    transform: translate(-0.2vw, 0);
    color: var(--light);
}
.submit {
    font-size: calc(0.7rem + 0.6vw);
    font-weight: 600;
    border-radius: 2px;
    position: relative;
    background: none;
    color: transparent;
    border: 1px solid var(--col3);
    padding: 0.3rem 1.6rem;
    margin-right: 1.2rem;
    cursor: pointer;
}
.submit::before {
    content: "Submit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    z-index: 1;
    transition: 0.4s ease 0.16s;
}

.submit::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--col3);
    animation: submit 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
}
.submit:hover {
    border: 1px solid var(--col2);
}
.submit:hover::before {
    color: var(--light);
    transition: 0.4s ease 0.16s;
}
.submit:hover::after {
    animation: submitaft 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
}
@keyframes submit {
    0% {
        left: auto;
        right: 0;
        width: 0%;
    }
    20% {
        left: 0;
        right: auto;
        width: 0%;
    }
    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}
@keyframes submitaft {
    0% {
        left: 0;
        right: auto;
        width: 100%;
    }
    20% {
        left: auto;
        right: 0;
        width: 100%;
    }
    100% {
        left: auto;
        right: 0;
        width: 0%;
    }
}

.rightSide {
    width: 28%;
    transform: translate(0, 16%);
}

.altContact {
    /* border: 1px solid black; */
    margin-bottom: calc(2rem + 2vw);
}

.altContact h5 {
    font-size: calc(1rem + 1vw);
    margin-bottom: 0.6rem;
}

.altContact a {
    font-size: calc(0.8rem + 0.6vw);
}

.altLink {
    position: relative;
    font-size: calc(0.6rem + 0.6vw);
    padding: 0.1rem 0;
    cursor: pointer;
}

.altLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--light);
    animation: link 0.4s cubic-bezier(.78,.13,.15,.86) forwards;
}

.altLink:hover::before {
    /* width: 100%; */
    animation: linkHov 0.4s cubic-bezier(.78,.13,.15,.86) forwards;
}

@keyframes link {
    0% {
        left: 0;
        right: auto;
        width: 100%;
    }
   20% {
        left: auto;
        right: 0;
        width: 100%;
    }
   100% {
        left: auto;
        right: 0;
        width: 0%;
    }
}
@keyframes linkHov {
    0% {
        left: auto;
        right: 0;
        width: 0%;
    }
   20% {
        left: 0;
        right: auto;
        width: 0%;
    }
   100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.mediaLinks a {
    margin-right: 1.2rem;
}

.mediaLinks a:hover img {
    transform: scale(1.1);
}

.mediaImg {
    width: calc(1rem + 1vw);
    height: calc(1rem + 1vw);
    transition: 0.3s ease;
}

.retainer svg {
    position: absolute;
    top: -12%;
    right: 12%;
}

@media (max-width: 1440px) {
    .contact {
        min-height: 52rem;
    }
    
    .retainer {
        min-height: 36rem;
        max-width: 112rem;
        padding: 0 8vw;
    }
    
    .formField {
        margin-bottom: 2rem;
    }
    .textareaFormField {
        height: calc(4.8rem + 1vw);
    }
    .input:focus ~ .label,
    .input:not(:placeholder-shown).input:not(focus) ~ .label {
        top: -1.2rem;
    }
    .textarea:focus ~ .label,
    .textarea:not(:placeholder-shown).textarea:not(focus) ~ .label {
        top: -1.4rem;
    }
    .retainer svg {
        top: -24%;
    }
}

@media (max-width: 768px) {
    .contact {
        height: 56rem;
    }
    .retainer {
        /* border: 2px dashed white; */
        flex-direction: column;
    }
    .leftSide {
        width: 100%;
        margin-bottom: 4rem;
    }
    .rightSide {
        /* border: 2px dashed yellow; */
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform: translate(0, 16%);
    }
    .retainer svg {
        /* top: -24%; */
        display: none;
    }
}

@media (max-width: 540px) {
    .contact {
        height: 64rem;
    }
    .retainer {
        transform: translate(0, -10%);
    }
    .leftSide {
        margin-bottom: 1rem;
    }
    .rightSide {
        flex-direction: column;
    }
    .altContact {
        margin-bottom: calc(1rem + 2vw);
    }
    
    .altContact h5 {
        margin-bottom: 0.4rem;
    }
}
@media (max-width: 480px) {
    .retainer {
        transform: translate(0, 0);
    }
    .leftSide {
        margin-bottom: 2rem;
    }
}