:root {
  --light: #fafafa;
  --dark: #2d2d2d;
  --col1: #5D9AC5;
  --col2: #4A5863;
  --col3: #4D527E;
  --cool: #0E9BFF;
  --warm: #D29292;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
    background: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

img, picture, svg, video {
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

.arrow {
  color: red;
}

.arrow path {
  fill: red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--light);
    background: var(--dark);
  }
}
