:root {
  --light: #fafafa;
  --dark: #2d2d2d;
  --col1: #5D9AC5;
  --col2: #4A5863;
  --col3: #4D527E;
  --cool: #0E9BFF;
  --warm: #D29292; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
    background: var(--col2);
    color: var(--light);
    font-weight: 300;
    font-family: 'Satoshi', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img, picture, svg, video {
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

/* SwiperJS styles */

.swiper-pagination {
  /* border: 2px dashed white; */
  position: absolute;
  bottom: -8% !important;
  /* left: 20%; */
  width: 12rem;
  height: 3rem;
}

/* .swiper-pagination-bullet-active {
  background-color: #000 !important;
} */

/* target the active bullet */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--col1);
  opacity: 1;
  transform: scale(1.2);
  transition: 0.4s ease;
}

/* target all bullets */
.swiper-pagination-bullet {
  border: 0.1rem solid var(--light);
  padding: 0.24rem !important;
  transition: 0.4s ease !important;
  margin: 0 0.4rem !important;
  background: transparent !important;
}


@media (max-width: 1440px) {
  .swiper-pagination {
    bottom: 4% !important;
  }
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    margin: 0 0.3rem !important;
  }
}