.loadingFrame {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--col1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transform: scale(1);
    /* animation: loader 1s ease 2.2s forwards; */
    animation: loader 1s ease 2.8s forwards;
}

.title {
    color: var(--light);
    position: relative;
    font-size: calc(3.2rem + 3.2vw);
    animation: shift 0.6s ease 2s forwards;
}
@keyframes shift {
    to {
        transform: translate(12%, 0);
    }
}

.title::before {
    content: "";
    position: absolute;
    top: 76%;
    left: 0%;
    transform: translate(-140%, -50%);
    background: url(../images/logoAlt.svg);
    background-size: contain;
    background-position: center;
    width: calc(6rem + 2.8vw);
    height: calc(6rem + 2.8vw);
    opacity: 0;
    animation: appear 1s ease 2s forwards;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.slider h1 {
    color: var(--light);
    font-size: calc(2.2rem + 2.2vw);
    font-weight: 300;

}

.slider h2 {
    color: var(--light);
    font-size: calc(0.8rem + 1.2vw);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.wrapper {
    width: calc(16.7rem + 16.7vw);
    height: calc(2rem + 4vw);
    overflow: hidden;
    animation: shift 0.6s ease 2s forwards;
}

.slider {
    animation: sliderLoading 1.4s cubic-bezier(.93,0,.45,1) 0.6s forwards;
}

@keyframes sliderLoading {
    to {
        transform: translate(0, -90%);
    }
}

@keyframes loader {
    0% {
        transform: translate(0, 0%) scale(1);
    }
    40% {
        transform: translate(0, 0%) scale(1);
    }
    100% {
        transform: translate(0, -100%) scale(1);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: calc(2.4rem + 2.4vw);
    }
    .title::before {
        content: "";
        /* background: url(../images/logoAlt.svg); */
        /* background-size: contain; */
        /* background-position: center; */
        width: calc(3.6rem + 2vw);
        height: calc(3.6rem + 2vw);
        /* opacity: 0; */
        /* animation: appear 1s ease 2s forwards; */
    }
    .slider h1 {
        /* border: 2px dashed coral; */
        font-size: calc(1.6rem + 1.6vw);
    }
    
    .slider h2 {
        /* border: 2px dashed coral; */
        font-size: calc(0.62rem + 0.62vw);
        /* text-transform: uppercase; */
        /* letter-spacing: 0.2rem; */
    }
    
    .wrapper {
        /* border: 2px dashed coral; */
        /* width: calc(16.7rem + 16.7vw); */
        width: calc(12.8rem + 12.8vw);
        /* height: calc(2rem + 2.2vw); */
        /* overflow: hidden; */
        /* animation: shift 0.6s ease 2s forwards; */
    }
    @keyframes sliderLoading {
        to {
            transform: translate(0, -92%);
        }
    }
    @keyframes shift {
        to {
            transform: translate(18%, 0);
        }
    }
  }