.menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0.64rem 8vw;
    background: var(--light);
    z-index: 3;
    transition: opacity 0.3s ease;
}

.logoDiv {
    /* border: 2px dashed lightgoldenrodyellow; */
    width: 11.6rem;
    margin-bottom: calc(7rem + 2vw);
    /* height: 4rem; */
}

.linkList {
    list-style: none;
    margin-bottom: calc(7rem + 2vw);
}

.linkList li {
    /* border: 2px solid lightblue; */
    /* position: relative; */
    margin-bottom: 1vw;
    overflow: hidden;
    width: 100%;
    /* height: 4rem; */
}

.navLink {
    position: relative;
    cursor: pointer;
    font-size: calc(2rem + 2vw);
}

.altMethods {
    /* border: 2px dashed orange; */
    position: relative;
    font-size: calc(0.8rem + 0.8vw);
}

.altMethods a {
    /* border: 2px dashed grey; */
    padding: 0.2rem 0;
    position: relative;
}

.altMethods a:nth-child(1) {
    margin-right: 2.8rem;
}

.navLink::before,
.altMethods a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--dark);
    animation: link 0.4s cubic-bezier(.78,.13,.15,.86) forwards;
}

.altMethods a::before {
    height: 1px;
}


.navLink:hover::before,
.altMethods a:hover::before {
    /* width: 100%; */
    animation: linkHov 0.4s cubic-bezier(.78,.13,.15,.86) forwards;
}

@keyframes link {
    0% {
        left: 0;
        right: auto;
        width: 100%;
    }
   20% {
        left: auto;
        right: 0;
        width: 100%;
    }
   100% {
        left: auto;
        right: 0;
        width: 0%;
    }
}
@keyframes linkHov {
    0% {
        left: auto;
        right: 0;
        width: 0%;
    }
   20% {
        left: 0;
        right: auto;
        width: 0%;
    }
   100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .menu {
        background: var(--col2);
    }
    .navLink::before,
    .altMethods a::before {
        background: var(--light);
    }
}