.services {
    background: var(--col1);
    width: 100vw;
    height: 100vh;
    min-height: 36rem;
}

.retainer {
    /* border: 2px dashed yellow; */
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 36rem;
    max-width: 112rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
}

.servicesText {
    color: var(--light);
    width: calc(21rem + 12vw);
    font-size: calc(0.7rem + 0.7vw);
}

.servicesText h2 {
    font-size: calc(2.8rem + 2.8vw);
    margin-bottom: 2rem;
}

.servicesText p {
    margin-bottom: 2rem;
}

.btnDiv {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.servicesText button {
    font-size: calc(0.8rem + 0.8vw);
    font-weight: 600;
}

.primaryBtn {
    border-radius: 2px;
    position: relative;
    background: transparent;
    color: transparent;
    border: 1px solid var(--col3);
    padding: 0.3rem 1.2rem;
    margin-right: 2rem;
}
.primaryBtn::before {
    content: "Contact";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    z-index: 1;
    transition: 0.4s ease 0.16s;
    pointer-events: none;
}

.primaryBtn::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--col3);
    animation: primaryBtn 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
    pointer-events: none;
}
.primaryBtn:hover {
    border: 1px solid var(--col3);
}
.primaryBtn:hover::before {
    color: var(--light);
    transition: 0.4s ease 0.16s;
}
.primaryBtn:hover::after {
    animation: primaryBtnaft 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
}
@keyframes primaryBtn {
    0% {
        left: auto;
        right: 0;
        width: 0%;
    }
    20% {
        left: 0;
        right: auto;
        width: 0%;
    }
    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}
@keyframes primaryBtnaft {
    0% {
        left: 0;
        right: auto;
        width: 100%;
    }
    20% {
        left: auto;
        right: 0;
        width: 100%;
    }
    100% {
        left: auto;
        right: 0;
        width: 0%;
    }
}

.secondaryBtn {
    display: flex;
    background: none;
    border: none;
    color: var(--light) !important;
}

.secondaryBtn div {
    transition: 0.6s cubic-bezier(.83,-0.72,.15,1.57);
}

.secondaryBtn:hover div {
    transform: rotate(45deg);
}

.servicesImgs {
    position: relative;
    width: 48vw;
    max-width: 42rem;
    height: 54vh;
    min-height: 24rem;
}

.servicesImgs > * {
    position: absolute;
}

.serviceUnit1 {
    top: 16%;
    left: 16%;
    z-index: 1;
}
.serviceUnit2 {
    bottom: 16%;
    right: 16%;
    z-index: 1;
}

.servicesImgs svg:nth-of-type(1) {
    top: -9%;
    left: 4%;
}
.servicesImgs svg:nth-of-type(2) {
    bottom: 21%;
    right: 4%;
}

@media (min-width: 1440px) {
    .servicesText h2 {
        font-size: 6rem;
    }
    .servicesText p {
        font-size: 1.4rem;
    }
    .servicesText button {
        font-size: 1.4rem;
    }
}

@media (max-width: 1440px) {
    .servicesImgs {
        transform: scale(0.9);
    }
    .serviceUnit1 {
        top: 8%;
        left: 28%;
    }
    .servicesImgs svg:nth-of-type(1) {
        top: -20%;
        left: 17%;
    }
}

@media (max-height: 720px) {
    .servicesText {
        transform: scale(0.9) translate(-4%, 0);
    }
    .servicesImgs {
        transform: translate(0, -10%) scale(0.8);
    }
    .imgContainer svg:nth-of-type(2) {
        top: 60%;
    }
}

@media (max-width: 1224px) {
    .servicesText {
        width: calc(24rem + 12vw);
    }
    .servicesImgs {
        transform: translate(0, -10%) scale(1);
    }
    .serviceUnit1 {
        top: 36%;
        left: 36%;
    }
    .serviceUnit2 {
        display: none;
    }
    .servicesImgs svg:nth-of-type(1) {
        top: 6%;
        left: 20%;
    }
    .servicesImgs svg:nth-of-type(2) {
        display: none;
    }
}

@media (max-width: 1224px) {
    .servicesImgs {
        transform: translate(0, -10%) scale(0.8);
    }
}

@media (max-width: 768px) {
    .servicesImgs {
        transform: translate(0, 0%) scale(0.8);
    }

    .secondaryBtn div {
        transform: translate(0, 4px);
    }
    
    .secondaryBtn:hover div {
        transform: rotate(45deg) translate(0, 4px);
    }
}

@media (max-width: 520px) {
    .servicesText {
        transform: scale(1) translate(0%, 0);
        width: calc(21rem + 12vw);
    }
    .servicesImgs {
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(0.4);
    } 
    .serviceUnit1 {
        top: 36%;
        left: 12%;
    }
    .servicesImgs svg:nth-of-type(1) {
        top: 4%;
        left: -18%;
    }
}

@media (max-width: 480px) {
    .serviceUnit1 {
        top: 46%;
        left: 24%;
    }
    .servicesImgs svg:nth-of-type(1) {
        top: 12%;
        left: -13%;
    }
}
