.dots1 path,
.dots2 path,
.dots3 path {
    fill-opacity: 0.2;
}

.dots1 path {
    fill: var(--cool);
}
.dots2 path {
    fill: var(--warm);
}
.dots3 path {
    fill: var(--light);
}

.strokeText {
    position: absolute;
    bottom: 4rem;
    right: 8vw;
    width: calc(4rem + 36vw);
}
.strokeText path {
    stroke: var(--light);
    stroke-width: 0.8;
    stroke-opacity: 0.2;
}

.strokeText2 {
    width: calc(2rem + 26vw);
}
.strokeText2 path{
    stroke-width: 1.6;
}

.star {
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    margin-right: 0.6rem;
}
.star svg {
    display: block !important;
    fill: var(--dark);
}

#dots {
    /* border: 2px solid coral; */
    position: absolute;
    top: -20%;
    left: 44%;
    height: auto;
}

/* The largest/biggest elements will get */
@media (min-width: 1440px) {
    .strokeText {
        width: 38rem;
    }
    .strokeText2 {
        width: 28rem;
    }
}

@media (max-width: 1224px) {
    .star {
        width: 0.8rem;
        height: 0.8rem;
    }
    #dots {
        display: none;
    }
}

@media (max-width: 520px) {
    .strokeText {
        bottom: 2rem;
        width: calc(10rem + 36vw);
    }
    .strokeText path {
        stroke-width: 1;
    }
    .strokeText2 {
        width: calc(8rem + 26vw);
    }
    .strokeText2 path{
        stroke-width: 2;
    }
}
@media (max-width: 480px) {
    .strokeText {
        bottom: 4rem;
    }
}

@media (prefers-color-scheme: dark) {
    .star svg {
        fill: var(--light);
    }
}